################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/My project
/Grokking_Algorithms
/dev
